<!-- html de prueba para probar gridstack -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dist/normalize.css" />
    <link rel="stylesheet" href="dist/gridstack.css" />
    <link rel="stylesheet" href="dist/gridstack-extra.css" />
    <link rel="stylesheet" href="style/style2.css" />
    <link rel="stylesheet" href="style/grid.css" />
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div class="row text-center" width="100%">
    <div id="logger" width="100%">

    </div>
</div>
<div class="row">
    <div class="col col-6 botones"><button onclick="backToMenu()" class="btn btn-primary col col-2">Back</button></div>
    <div class="col col-6 botones"> <button onclick="shoot()" class="btn btn-danger col col-2">FIRE!</button></div>
</div>
<div class="row">
    <div class="col col-6">
        <div class="grid-ships">
            <div id="grid" class="grid-stack grid-stack-10">

            </div>
        </div>
    </div>

    <div class="col col-6">
        <div class="grid-salvoes">

        </div>
    </div>
</div>
<div class="row" id="gameEvents">
    <table class="table table-striped table-dark col col-6" width="100%" v-if="mySalvoHits.length != 0">
        <thead>
        <tr><th rowspam="3">You</th></tr>
        <tr>
            <th>Turn</th>
            <th>Hits</th>
            <th>Sunken Ships</th></tr>
        </thead>
        <tbody>
        <tr v-for="x in mySalvoHits">
            <td>{{x.turn}}</td>
            <td>{{x.hits}}</td>
            <td>{{x.sunkenShips.map(y => y.type)}}</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped table-dark col col-6" width="100%" v-if="opponentsSalvoHits.length != 0">
        <thead>
        <tr><th rowspam="3">Opponent</th></tr>
        <tr>
            <th>Turn</th>
            <th>Hits</th>
            <th>Sunken Ships</th></tr>
        </thead>
        <tbody>
        <tr v-for="x in opponentsSalvoHits">
            <td>{{x.turn}}</td>
            <td>{{x.hits}}</td>
            <td>{{x.sunkenShips.map(y => y.type)}}</td>
        </tr>
        </tbody>
    </table>
</div>


<!-- <script  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
<script src="dist/jquery-3.4.1.min.js"></script>
<script src="dist/lodash.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script> -->
<script src="dist/jquery-ui.min.js"></script>
<script src="dist/gridstack.js"></script>
<script src="dist/gridstack.jQueryUI.js"></script>
<script src="dist/jquery.ui.touch-punch.min.js"></script>
<script src="script/popper.min.js"></script>
<script src="script/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="script/gameGrid.js"></script>
<script src="script/game.js"></script>
</body>
</html>