<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salvo!</title>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/game.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div v-show="user == 'Guest'">
        <div id="formularioLogIn">
            <form class="form-inline row" id="login-form" onsubmit="return false">
                <label for="username" class="col col-1">Name: </label><input class="form-control col col-3" id="username" type="email" name="username" required>
                <label for="password" class="col col-1">Password: </label><input class="form-control col col-3" id="password" type="password" name="password" required>
                <br>
                <input type="button" class="form-contro  log-in-button btn btn-info col col-1" @click="login()" value="Log in">
                <input type="submit" class="form-contro  sign-up-button btn btn-info col col-1" @click="signup()" value="Sign Up">
            </form>
        </div>
    </div>
<div v-show="user != 'Guest'">
    <div id="logOut" class="row">
        <input type="button" class="btn btn-danger col col-1"  @click="logout()" value="Log out">
        <h3 class="col col-9 text-center">Bienvenu(e), <span id="playerLoggueado">{{user.email}}</span>!</h3>
        <input type="button" class="btn btn-warning col col-2"  @click="createGame()" value="Create Game">
    </div>
</div>
    <div>
        <div class="row text-center" id="tablaL">
            <table id="leaderboard" class="table table-dark table-striped" width="100%">
                <tr><th colspan="6" class="text-center tableTitle"><span class="tableText">Leaderboard</span></th></tr>
                <tr><th><span class="tableText">Player</span></th><th><span class="tableText">Games</span></th><th><span class="tableText">Total Score</span></th><th><span class="tableText">Wins</span></th><th><span class="tableText">Ties</span></th><th><span class="tableText">Losses</span></th></tr>
                <tr v-for="player in players">
                    <td><span class="tableText">{{player.username}}</span></td>
                    <td><span class="tableText">{{player.games}}</span></td>
                    <td><span class="tableText">{{player.total}}</span></td>
                    <td><span class="tableText">{{player.wins}}</span></td>
                    <td><span class="tableText">{{player.ties}}</span></td>
                    <td><span class="tableText">{{player.losses}}</span></td>
                </tr>
            </table>
        </div>
        <div class="row text-center" id="tablaG">
            <table id="tableGames" class="table table-dark table-striped" width="100%">
                <tr><th colspan="5" class="text-center tableTitle"><span class="tableText">Games</span></th> </tr>
                <tr><th><span class="tableText">Player 1</span></th><th></th><th><span class="tableText">Player 2</span></th><th></th><th></th></tr>
                <tr v-for="x in games">
                    <td><span class="tableText">{{x.gamePlayers[0].player.email}}</span></td>
                    <td><span class="tableText">vs.</span></td>
                    <td v-if="x.gamePlayers[1] != null"><span class="tableText">{{x.gamePlayers[1].player.email}}</span></td>
                    <td v-if="x.gamePlayers[1] == null"><span class="tableText">Nobody here yet...</span></td>
                    <td><button v-if="user != 'Guest' && x.gamePlayers[1] == null && x.gamePlayers[0].player.email != user.email" class="btn btn-warning" @click="joinGame(x.id)">Join Game</button></td>
                    <td><button v-if="user != 'Guest' && (x.gamePlayers.length == 2 &&(x.gamePlayers[0].player.email == user.email || x.gamePlayers[1].player.email == user.email) ||(x.gamePlayers.length == 1 && x.gamePlayers[0].player.email == user.email))" class="btn btn-success" @click="reenter(x.gamePlayers)">Enter</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="script/popper.min.js"></script>
<script src="script/jquery-3.3.1.min.js"></script>
<script src="script/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="script/games.js"></script>
</body>
</html>