.ship-piece{
    background-color: darkslateblue;
}

.ship-piece-hited{
    background-color: darkmagenta;
}

.salvo{
    background-color: crimson;
}
body{
 background-image: url("https://wallpaperaccess.com/full/948963.jpg");
}
.container{
color: white;
}
#tabla{
    margin: 5%;
    right: 5%;
    color: gold;
    left: 0%;
}
#tableTitle{
font-size: 32px;
}