body{
 background-image: url("https://www.wuwm.com/sites/wuwm/files/styles/x_large/public/201907/AdobeStock_143932362.jpeg");
 color: white;
}
#warn{
    background-color: yellow;
}
#mensaje{
    color: white;
    padding: 2%;
}
.wrapper{
    text-align: center;
}
#boton{
    position: relative;
}